<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Item Name
            </h1>
            <p class="lead">
                This is item description
            </p>
            <form action="/charge" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_WrUREODJMeeD71YVWPChhOOM"
                        data-amount="2500"
                        data-name="Demo Site"
                        data-description="Example charge"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                </script>
            </form>
        </div>
    </div>
</section>