<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">
        Your Item should be emailed withing 1 business day
    </p>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>